@media screen and (min-width: 350px) and (max-width: 365px) {
  /* .dragontigerlionmaindiv {
    width: 106%;
  } */

  .gdragontigerlion {
    width: 20rem;
  }
  .cartbox1 {
    margin-left: -1.2rem;
    margin-top: -1rem;
  }
  .dtlcard1 {
    width: 1.3rem;
    height: 1.8rem;
    margin-left: 5rem;
    margin-top: 8.8rem;
  }
  .cartbox2 {
    margin-left: 4.3rem;
  }
  .dtlcard2 {
    width: 1.3rem;
    height: 1.8rem;
    /* margin-left: 5rem; */
    margin-top: 7.8rem;
  }
  .cartbox3 {
    margin-left: 4.8rem;
  }
  .dtlcard3 {
    width: 1.3rem;
    height: 1.8rem;
    /* margin-left: 9.8rem; */
    margin-top: 7.8rem;
  }
}
@media screen and (min-width: 365px) and (max-width: 385px) {
  /* .dragontigerlionmaindiv {
    width: 114%;
  } */

  .gdragontigerlion {
    width: 20rem;
  }
  .cartbox1 {
    margin-left: -1.65rem;
    margin-top: -0.6rem;
  }
  .dtlcard1 {
    width: 1.5rem;
    height: 2rem;
    margin-left: 5rem;
    margin-top: 8.8rem;
  }
  .cartbox2 {
    margin-left: 4.5rem;
    margin-top: 0.4rem;
  }
  .dtlcard2 {
    width: 1.5rem;
    height: 2rem;
    /* margin-left: 5rem; */
    margin-top: 7.8rem;
  }
  .cartbox3 {
    margin-left: 4.8rem;
    margin-top: 0.4rem;
  }
  .dtlcard3 {
    width: 1.5rem;
    height: 2rem;
    /* margin-left: 9.8rem; */
    margin-top: 7.8rem;
  }
}
@media screen and (min-width: 385px) and (max-width: 400px) {
  /* .dragontigerlionmaindiv {
    width: 120%;
  } */

  .gdragontigerlion {
    width: 20rem;
  }
  .cartbox1 {
    margin-left: -1.95rem;
    margin-top: -0.3rem;
  }
  .dtlcard1 {
    width: 1.5rem;
    height: 2.1rem;
    margin-left: 5rem;
    margin-top: 8.8rem;
  }
  .cartbox2 {
    margin-left: 4.8rem;
    margin-top: 0.7rem;
  }
  .dtlcard2 {
    width: 1.4rem;
    height: 2rem;
    /* margin-left: 5rem; */
    margin-top: 7.8rem;
  }
  .cartbox3 {
    margin-left: 5.1rem;
    margin-top: 0.7rem;
  }
  .dtlcard3 {
    width: 1.4rem;
    height: 2rem;
    /* margin-left: 9.8rem; */
    margin-top: 7.8rem;
  }
}


@media screen and (min-width: 400px) and (max-width: 415px){
  /* .dragontigerlionmaindiv {
    width: 120%;
  } */

  .gdragontigerlion {
    width: 20rem;
  }
  .cartbox1 {
    margin-left: -2.2rem;
    margin-top: 0rem;
  }
  .dtlcard1 {
    width: 1.5rem;
    height: 2.1rem;
    margin-left: 5rem;
    margin-top: 8.8rem;
  }
  .cartbox2 {
    margin-left: 5rem;
    margin-top: 1.2rem;
  }
  .dtlcard2 {
    width: 1.5rem;
    height: 2.1rem;
    margin-top: 7.8rem;
  }
  .cartbox3 {
    margin-left: 5.3rem;
    margin-top: 1.2rem;
  }
  .dtlcard3 {
    width: 1.5rem;
    height: 2.1rem;
    margin-top: 7.8rem;
  }
}



@media screen and (min-width: 415px)   and (max-width: 430px){
  /* .dragontigerlionmaindiv {
    width: 118%;
  } */


  .gdragontigerlion {
    width: 20rem;
  }
  .cartbox1 {
    margin-left: -2.55rem;
    margin-top: 0.4rem;
  }
  .dtlcard1 {
    width: 1.7rem;
    height: 2.3rem;
    margin-left: 5rem;
    margin-top: 8.8rem;
  }
  .cartbox2 {
    margin-left: 4.9rem;
    margin-top: 1.4rem;
  }
  .dtlcard2 {
    width: 1.7rem;
    height: 2.2rem;
    /* margin-left: 5rem; */
    margin-top: 7.8rem;
  }
  .cartbox3 {
    margin-left: 5.6rem;
    margin-top: 1.5rem;
  }
  .dtlcard3 {
    width: 1.7rem;
    height: 2.1rem;
    /* margin-left: 9.8rem; */
    margin-top: 7.8rem;
  }
}


@media screen and (min-width: 430px)  and (max-width: 445px){
  /* .dragontigerlionmaindiv {
    width: 118%;
  } */


  .gdragontigerlion {
    width: 20rem;
  }
  .cartbox1 {
    margin-left: -2.7rem;
    margin-top: 0.7rem;
  }
  .dtlcard1 {
    width: 1.6rem;
    height: 2.2rem;
    margin-left: 5rem;
    margin-top: 8.8rem;
  }
  .cartbox2 {
    margin-left: 5.4rem;
    margin-top: 1.6rem;
  }
  .dtlcard2 {
    width: 1.5rem;
    height: 2.1rem;
    margin-top: 7.8rem;
  }
  .cartbox3 {
    margin-left: 5.85rem;
    margin-top: 1.7rem;
  }
  .dtlcard3 {
    width: 1.5rem;
    height: 2.1rem;
    /* margin-left: 9.8rem; */
    margin-top: 7.8rem;
  }
}
@media screen and (min-width: 445px)  and (max-width: 455px) {
  /* .dragontigerlionmaindiv {
    width: 117%;
  } */


  .gdragontigerlion {
    width: 20rem;
  }
  .cartbox1 {
    margin-left: -3rem;
    margin-top: 1.2rem;
  }
  .dtlcard1 {
    width: 1.6rem;
    height: 2.2rem;
    margin-left: 5rem;
    margin-top: 8.8rem;
  }
  .cartbox2 {
    margin-left: 5.7rem;
    margin-top: 2.1rem;
  }
  .dtlcard2 {
    width: 1.5rem;
    height: 2.1rem;
    /* margin-left: 5rem; */
    margin-top: 7.8rem;
  }
  .cartbox3 {
    margin-left: 6.1rem;
    margin-top: 2.1rem;
  }
  .dtlcard3 {
    width: 1.5rem;
    height: 2.1rem;
    /* margin-left: 9.8rem; */
    margin-top: 7.8rem;
  }
}
@media screen and (min-width: 1024px) {
  /* .dragontigerlionmaindiv {
    width: 100%;
  } */


  
  .gdragontigerlion {
    width: 15rem;
    border: 1px solid green;
  }
  /* .mainbox2cardspatti{
  
    width:90%;
} */
  .cartbox1 {
    margin-left: 3.3rem;
    margin-top: 1.4rem;
  }
  .dtlcard1 {
    /* height: 10rem; */
    width: 1.8rem;
    height: 2.6rem;
    /* margin-left: 5rem;
    margin-top: 8.8rem;  */
  }
  .cartbox2 {
    margin-left: 5.8rem;
    margin-top: 2.4rem;
  }
  .dtlcard2 {
    width: 1.8rem;

    height: 2.6rem;
    /* margin-left: 5rem; */
    /* margin-top: 7.8rem; */
  }
  .cartbox3 {
    margin-left: 6rem;
    margin-top: 2.35rem;
  }
  .dtlcard3 {
    width: 1.8rem;
    height: 2.6rem;
    /* margin-left: 9.8rem; */
    /* margin-top: 7.8rem; */
  }
}
@media screen and (min-width: 1070px) {
  .cartbox1 {
    margin-left: -3.7rem;
    margin-top: 2rem;
  }
  .dtlcard1 {
    width: 1.8rem;
    height: 2.6rem;
  }
  .cartbox2 {
    margin-left: 6.15rem;
    margin-top: 3.2rem;
  }
  .dtlcard2 {
    width: 1.8rem;
    height: 2.6rem;
  }
  .cartbox3 {
    margin-left: 6.5rem;
    margin-top: 3.2rem;
  }
  .dtlcard3 {
    width: 1.8rem;
    height: 2.6rem;
  }
}
@media screen and (min-width: 1125px) {
  /* .gdragontigerlion{
    width: 30rem;
  } */
  .cartbox1 {
    margin-left: -4.2rem;
    margin-top: 2.5rem;
  }
  .dtlcard1 {
    /* height: 10rem; */
    width: 2rem;
    height: 2.6rem;
    /* margin-left: 5rem;
    margin-top: 8.8rem;  */
  }
  .cartbox2 {
    margin-left: 6.33rem;
    margin-top: 3.5rem;
  }
  .dtlcard2 {
    width: 2rem;
    height: 2.6rem;
    /* margin-left: 5rem; */
    /* margin-top: 7.8rem; */
  }
  .cartbox3 {
    margin-left: 6.8rem;
    margin-top: 3.5rem;
  }
  .dtlcard3 {
    width: 2rem;
    height: 2.6rem;
    /* margin-left: 9.8rem; */
    /* margin-top: 7.8rem; */
  }
}
@media screen and (min-width: 1170px) {
  .cartbox1 {
    margin-left: -4.6rem;
    margin-top: 3rem;
  }
  .dtlcard1 {
    width: 2rem;
    height: 2.6rem;
  }
  .cartbox2 {
    margin-left: 6.7rem;
    margin-top: 4rem;
  }
  .dtlcard2 {
    width: 2rem;
    height: 2.6rem;
  }
  .cartbox3 {
    margin-left: 7.2rem;
    margin-top: 4rem;
  }
  .dtlcard3 {
    width: 2rem;
    height: 2.6rem;
    /* margin-left: 9.8rem; */
    /* margin-top: 7.8rem; */
  }
}
@media screen and (min-width: 1225px) {
  .gdragontigerlion {
    width: 30rem;
  }
  .cartbox1 {
    margin-left: -0.3rem;
    margin-top: 3.7rem;
  }
  .dtlcard1 {
    /* height: 10rem; */
    width: 2.2rem;
    height: 2.9rem;
    /* margin-left: 5rem;
    margin-top: 8.8rem;  */
  }
  .cartbox2 {
    margin-left: 7.1rem;
    margin-top: 4.7rem;
  }
  .dtlcard2 {
    width: 2.2rem;
    height: 2.9rem;
    /* margin-left: 5rem; */
    /* margin-top: 7.8rem; */
  }
  .cartbox3 {
    margin-left: 7.6rem;
    margin-top: 4.7rem;
  }
  .dtlcard3 {
    width: 2.2rem;
    height: 2.9rem;
    /* margin-left: 9.8rem; */
    /* margin-top: 7.8rem; */
  }
}
@media screen and (min-width: 1285px) {
  .gdragontigerlion {
    width: 30rem;
  }
  .cartbox1 {
    margin-left: -1.1rem;
    margin-top: 4.7rem;
  }
  .dtlcard1 {
    width: 2.4rem;
    height: 3.1rem;
  }
  .cartbox2 {
    margin-left: 7.3rem;
    margin-top: 5.7rem;
  }
  .dtlcard2 {
    width: 2.4rem;
    height: 3.1rem;
  }
  .cartbox3 {
    margin-left: 8.5rem;
    margin-top: 5.7rem;
  }
  .dtlcard3 {
    width: 2.4rem;
    height: 3.1rem;
  }
}

@media screen and (min-width: 1312px) {
  .gdragontigerlion {
    width: 30rem;
  }
  .cartbox1 {
    margin-left: -1.7rem;
    margin-top: 5.5rem;
  }
  .dtlcard1 {
    width: 2.5rem;
    height: 3.2rem;
  }
  .cartbox2 {
    margin-left: 8rem;
    margin-top: 6.5rem;
  }
  .dtlcard2 {
    width: 2.5rem;
    height: 3.2rem;
  }
  .cartbox3 {
    margin-left: 8.3rem;
    margin-top: 6.5rem;
  }
  .dtlcard3 {
    width: 2.5rem;
    height: 3.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .gdragontigerlion {
    width: 30rem;
  }
  .cartbox1 {
    margin-left: -3rem;
    margin-top: 7.6rem;
  }
  .dtlcard1 {
    width: 3.7rem;
    height: 4.1rem;
  }
  .cartbox2 {
    margin-left: 7.2rem;
    margin-top: 8.5rem;
  }
  .dtlcard2 {
    width: 3.6rem;
    height: 4.1rem;
  }
  .cartbox3 {
    margin-left: 8.7rem;
    margin-top: 8.5rem;
  }
  .dtlcard3 {
    width: 3.4rem;
    height: 4.1rem;
  }
}

@media screen and (min-width: 1484px) {
  .gdragontigerlion {
    width: 30rem;
  }
  .cartbox1 {
    margin-left: -3.3rem;
    margin-top: 7.6rem;
  }
  .dtlcard1 {
    width: 3.7rem;
    height: 4.1rem;
  }
  .cartbox2 {
    margin-left: 7.7rem;
    margin-top: 8.5rem;
  }
  .dtlcard2 {
    width: 3.6rem;
    height: 4.1rem;
  }
  .cartbox3 {
    margin-left: 9.3rem;
    margin-top: 8.5rem;
  }
  .dtlcard3 {
    width: 3.4rem;
    height: 4.1rem;
  }
}
